page-home {



  .segment-button {
    min-height: 7.2rem;
    padding: 20px 0;
  }

  .text-todo {
    color: white;
    font-weight: bold;
  }

  .info-icon {
    font-size: 35px;
  }

  .segment-ios .segment-button,
  .segment-md .segment-button {
    line-height: 1.5rem;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  .card-ios {
    box-shadow:  0 1px 2px rgba(0, 0, 0, 0.48);
  }


  /*
 .footer {
   *,
   *:before,
   *:after {
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box !important;
   }

   ion-footer {
     background-color: #149e92; // this can be transparent if we want
   }
 }
*/



}


