page-home {

  .segment-button {
    min-height: 7.2rem;
    padding: 20px 0;
  }

  .text-todo {
    color: white;
    font-weight: bold;
  }

  .measure-icon {
    font-size: 35px;
  }

  .info-icon {
    font-size: 40px;
    cursor: pointer;
  }

  .toolbar-ios ion-title {
    padding: 0;
  }

  .segment-ios .segment-button,
  .segment-md .segment-button {
    line-height: 1.5rem;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
  }

  .segment-ios {
    padding: 0 10px;
  }

  .item-divider-ios {
    background-color: #00695C;
    margin: 20px 0;
    color: white;
  }

  .card-ios {
    box-shadow:  0 1px 2px rgba(0, 0, 0, 0.48);
    padding: 0;
  }

  .label-ios {
    margin: 0;
  }

  .segment-ios .remove-border-bottom {
    border-bottom: 0;
  }

  .click-here {
    font-weight: bold;
    font-size: 16px;
  }

  .col-fix {

  }

  .instruction-p {
    color: white;
    font-size: 16px;
  }

}

