page-home {

  .segment-button {
    min-height: 7.2rem;
    padding: 20px 0;
  }

  .text-todo {
    color: white;
    font-weight: bold;
  }

  .info-icon {
    font-size: 35px;
  }

  .segment-ios .segment-button,
  .segment-md .segment-button {
    line-height: 1.5rem;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


