<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title | translate }}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-left (click)="close()">
        <ion-icon name="ios-arrow-back"></ion-icon>
        {{'BACK' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>{{title | translate }}</h4>
  <p>{{informationText | translate}}</p>
  <ul>
    <li *ngIf="segmentText_1 !== ''">
      <b>{{segmentText_1 | translate}}</b>
    </li>
    <li *ngIf="segmentText_2 !== ''">
      <b>{{segmentText_2 | translate}}</b>
    </li>
    <li *ngIf="segmentText_3 !== ''">
      <b>{{segmentText_3 | translate}}</b>
    </li>
    <li *ngIf="segmentText_4 !== ''">
      <b>{{segmentText_4 | translate}}</b>
    </li>
    <li *ngIf="segmentText_5 !== ''">
      <b>{{segmentText_5 | translate}}</b>
    </li>
    <li *ngIf="segmentText_6 !== ''">
      <b>{{segmentText_6 | translate}}</b>
    </li>
    <li *ngIf="segmentText_7 !== ''">
      <b>{{segmentText_7 | translate}}</b>
    </li>
  </ul>
  <img *ngIf="title == 'VARIABILITY'" src="./assets/ctg-images/Varialibitet.png" alt="">
  <img *ngIf="title == 'BASELINE'" src="./assets/ctg-images/BasalFrekvens.png" alt="">
  <img *ngIf="title == 'DECELERATION_FREQUENCY'" src="./assets/ctg-images/KombineradeDec.png" alt="">
  <img *ngIf="title == 'DECELERATION_FORM'" src="./assets/ctg-images/VariablaDec.png" alt="">
  <img *ngIf="title == 'ACCELERATIONS'" src="./assets/ctg-images/accelerations.png" alt="">

  <div text-center>
      <ion-icon name="arrow-down"></ion-icon>
  </div>
</ion-content>


