<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{instructionHeader | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>{{menuHeading | translate}}</h4>
  <p>{{instructionText | translate}}</p>
  <hr class="hr-style">
  <img *ngIf="instructionHeader == 'Instructions'" src="./assets/Instructions/MenuEN.png" alt=""/>
  <img *ngIf="instructionHeader == 'Instruktioner'" src="./assets/Instructions/MenuEN.png"/>
  <h4>{{ctgHeading | translate}}</h4>
  <p>{{instructionCtgText| translate}}</p>
  <hr class="hr-style">
  <hr class="hr-style">
  <img *ngIf="instructionHeader == 'Instructions'" src="./assets/Instructions/CtgEN.png" alt=""/>
  <img *ngIf="instructionHeader == 'Instruktioner'" src="./assets/Instructions/CtgSV.png" alt=""/>
</ion-content>
