// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 801px) {
  ion-app {
    height: 620px;
    width: 350px;
    position: relative;
    margin-top: 90px;
    margin-left: 23px;
  }

  body {
    display: flex;
    justify-content: center;
  }

  .iphone-background {
    min-width: 490px;
    height: 800px;
    position: absolute;
    background-image: url("../assets/iphone-gold.png");
    background-size: auto 800px;
    background-repeat: no-repeat;
  }

  div.modal-wrapper {
    margin-left: 136px;
    width: 93% !important;
     height: 92%;
    top: 19px;
  }
}
